[Unit]
Description=Jukebox Service
After=pulseaudio.service
Wants=pulseaudio.service
Requires=pulseaudio.service

[Service]
Type=simple
ExecStart=/usr/bin/env python3 /home/aj/jukebox.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
